<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/base/base.gazebo.xacro"/>
  
  <xacro:macro name="base_v0" params="parent *joint_origin">
	<joint name="base_link_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
		<geometry>
		  <mesh filename="package://robot_description/meshes/DAE/base/body.dae"/>
		</geometry>
	  </visual>
	  <collision>
		<geometry>
		  <mesh filename="package://robot_description/meshes/STL/base/body.stl"/>
		</geometry>
	  </collision>
	  <inertial>
		<origin xyz="0.011 0 0.09"/>
		<mass value="10"/>
		<inertia ixx="0.075" ixy="-0.009" ixz="-0.008" iyy="0.5" iyz="0" izz="0.4" />
	  </inertial>
	</link>
  </xacro:macro>
  
</robot>
