<?xml version="1.0"?>
<robot name="quadruped_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159274"/>

  <xacro:include filename="$(find robot_description)/urdf/base/base.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/leg_joint/leg_joint.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/left_thigh/left_thigh.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/right_thigh/right_thigh.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/shin/shin.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/IMU/IMU.urdf.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- Base -->
  <link name="base_footprint"/>
  <xacro:base_v0 parent="base_footprint">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:base_v0>

  <xacro:leg_joint_v0 prefix="rear_left" parent="base_link">
    <origin xyz="-0.277 0.06 0.089405" rpy="0 ${M_PI/2} ${-M_PI/2}"/>  
    <axis xyz="0 -1 0"/> <!-- 0 -1 0 -->
  </xacro:leg_joint_v0>

  <xacro:leg_joint_v0 prefix="rear_right" parent="base_link">
    <origin xyz="-0.277 -0.06 0.089405" rpy="0 ${-M_PI/2} ${-M_PI/2}"/> 
    <axis xyz="0 1 0"/>
  </xacro:leg_joint_v0>

  <xacro:leg_joint_v0 prefix="front_left" parent="base_link">
    <origin xyz="0.282 0.06 0.090255" rpy="0 ${M_PI/2} ${-M_PI/2}"/> 
    <axis xyz="0 -1 0"/> <!-- 0 -1 0 -->
  </xacro:leg_joint_v0>

  <xacro:leg_joint_v0 prefix="front_right" parent="base_link">
    <origin xyz="0.282 -0.06 0.090255" rpy="0 ${-M_PI/2} ${-M_PI/2}"/> 
    <axis xyz="0 1 0"/>
  </xacro:leg_joint_v0>

  <xacro:left_thigh_v0 prefix="front" parent="front_left_leg_joint_link">
    <origin xyz="0 0 -0.114" rpy="${M_PI/2} 0 ${-M_PI/2}"/>
    <axis xyz="0 1 0"/>
  </xacro:left_thigh_v0>

  <xacro:left_thigh_v0 prefix="rear" parent="rear_left_leg_joint_link">
    <origin xyz="0 0 -0.114" rpy="${M_PI/2} 0 ${-M_PI/2}"/>
    <axis xyz="0 1 0"/>
  </xacro:left_thigh_v0>
  
  <xacro:right_thigh_v0 prefix="front" parent="front_right_leg_joint_link">
    <origin xyz="0 0 -0.114" rpy="${M_PI/2} 0 ${-M_PI/2}"/>
    <axis xyz="0 -1 0"/> <!-- 0 -1 0 -->
  </xacro:right_thigh_v0>

  <xacro:right_thigh_v0 prefix="rear" parent="rear_right_leg_joint_link">
    <origin xyz="0 0 -0.114" rpy="${M_PI/2} 0 ${-M_PI/2}"/>
    <axis xyz="0 -1 0"/> <!-- 0 -1 0 -->
  </xacro:right_thigh_v0>
  
  <xacro:shin_v0 prefix="front_left" parent="front_left_thigh_link">
    <origin xyz="0.426 -0.0285 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </xacro:shin_v0>

  <xacro:shin_v0 prefix="front_right" parent="front_right_thigh_link">
    <origin xyz="0.426 -0.0285 0" rpy="${M_PI} 0 0"/>
    <axis xyz="0 1 0"/>
  </xacro:shin_v0>

  <xacro:shin_v0 prefix="rear_left" parent="rear_left_thigh_link">
    <origin xyz="0.426 -0.0285 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </xacro:shin_v0>

  <xacro:shin_v0 prefix="rear_right" parent="rear_right_thigh_link">
    <origin xyz="0.426 -0.0285 0" rpy="${M_PI} 0 0"/>
    <axis xyz="0 1 0"/>
  </xacro:shin_v0>

  <xacro:imu_v0 parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:imu_v0>

  <!-- =============== Transmissions =============== -->
  <xacro:leg_joint_trans_v0 prefix="rear_left"/>
  <xacro:leg_joint_trans_v0 prefix="rear_right"/>
  <xacro:leg_joint_trans_v0 prefix="front_left"/>
  <xacro:leg_joint_trans_v0 prefix="front_right"/>
  <xacro:left_thigh_trans_v0 prefix="rear"/>
  <xacro:left_thigh_trans_v0 prefix="front"/>
  <xacro:right_thigh_trans_v0 prefix="rear"/>
  <xacro:right_thigh_trans_v0 prefix="front"/> 
  <xacro:shin_trans_v0 prefix="rear_left"/>
  <xacro:shin_trans_v0 prefix="rear_right"/>
  <xacro:shin_trans_v0 prefix="front_left"/>
  <xacro:shin_trans_v0 prefix="front_right"/>
  
  <!-- =============== Gazebo =============== -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
        <robotNamespace>spot_gazebo</robotNamespace>
        <jointName>front_right_leg_joint, front_right_thigh_joint, front_left_shin_joint,
                front_left_leg_joint, front_left_thigh_joint, front_right_shin_joint,
                rear_right_leg_joint, rear_right_thigh_joint, rear_right_thigh_joint,
                rear_left_leg_joint, rear_left_thigh_joint, rear_left_shin_joint</jointName>
        <updateRate>100</updateRate>
    </plugin>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>spot_gazebo</robotNamespace>
    </plugin>
  <!-- base_link odometry -->
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>spot/odom</topicName>
      <gaussianNoise>0.01</gaussianNoise>
      <frameName>world</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>

  <xacro:base_gazebo_v0/>
  <xacro:leg_joint_gazebo_v0 prefix="rear_left"/>
  <xacro:leg_joint_gazebo_v0 prefix="front_left"/>
  <xacro:leg_joint_gazebo_v0 prefix="rear_right"/>
  <xacro:leg_joint_gazebo_v0 prefix="front_right"/>
  <xacro:left_thigh_gazebo_v0 prefix="front"/>
  <xacro:left_thigh_gazebo_v0 prefix="rear"/>
  <xacro:right_thigh_gazebo_v0 prefix="front"/>
  <xacro:right_thigh_gazebo_v0 prefix="rear"/> 
  <xacro:shin_gazebo_v0 prefix="rear_left"/>
  <xacro:shin_gazebo_v0 prefix="front_left"/>
  <xacro:shin_gazebo_v0 prefix="rear_right"/>
  <xacro:shin_gazebo_v0 prefix="front_right"/>
  <xacro:imu_gazebo_v0/>

</robot>
